<app-navbar-doctor></app-navbar-doctor>
<div class="container">
    <h1 class="text-center">Predicción de Enfermedades</h1>

    <div class="main-grid">
        <!-- Lista de síntomas -->
        <div class="sintomas-box">
            <input type="text" placeholder="Buscar síntomas..." [(ngModel)]="filtro" class="search-box" />

            <div class="sintomas-grid">
                @if (sintomasFiltrados.length > 0){
                <div *ngFor="let sintoma of sintomasFiltrados">

                    <label class="sintoma-item">
                        <input type="checkbox" [value]="sintoma" [checked]="seleccionados.includes(sintoma)"
                            (change)="manejarCambioCheckbox($event, sintoma)" />
                        {{sintoma}}
                    </label>
                </div>
                } @else{
                <p>No se encontraron síntomas</p>
                }
            </div>

        </div>


        <!-- Síntomas seleccionados -->
        <div class="seleccionados-box">
            <h3>Síntomas Seleccionados</h3>
            <ul>

                <div *ngFor="let sintoma of  seleccionados">


                    <div class="seleccionado-item">
                        {{sintoma}}
                        <button (click)="quitarSintoma(sintoma)">❌</button>
                    </div>
                </div>
            </ul>

            <button type="button" class="btn" (click)="predecir()" [disabled]="seleccionados.length===0">
                Predecir
            </button>
        </div>
    </div>
</div>