<footer class="footer">
  <div class="footer-top">
    <div class="contact-info"  style="margin-left: 300px;">
      <p><i class="fas fa-map-marker-alt"></i> <strong>Dirección</strong><br>
        Calle 45e # 20-114 Casa<br> Barranquilla / Colombia
      </p>
      <p><i class="fas fa-phone-alt"></i> <strong>Teléfonos</strong><br>605-3463168</p>
      <p><i class="fas fa-comment-dots"></i> <strong>Quejas y Reclamos</strong><br>
        quejasyreclamoshostipal.com.co</p>
    </div>

    <div class="footer-links">
        <ul>
          <li><a href="#">Responsabilidad social</a></li>
          <li><a href="#">Trabaje con nosotros</a></li>
          <li><a href="#">Ley de transparencia</a></li>
          <li><a href="#">PQRS</a></li>
          <li><a href="#">Privacidad de datos</a></li>
          <li><a href="#">Términos y condiciones</a></li>
        </ul>
        <ul>
            <li><a href="#">Oficina Virtual</a></li>
            <li><a href="#">Línea de Atención</a></li>
            <li><a href="#">Sedes</a></li>
        </ul>
    </div>
  </div>
        <div class="img" style="margin-left: 250px;">  
        <img src="assess/image_otro_logo.png" alt="" style="height: 100px; width: 300px;">
        </div>

  <div class="footer-bottom">
    <div class="social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-whatsapp"></i></a>
    </div>
    <p>2025 © Hostipal. Todos los derechos reservados</p>
  </div>
</footer>