<footer class="footer">
  <div class="footer-top">
    <div class="contact-info"  style="margin-left: 300px;">
      <p><i class="fas fa-map-marker-alt"></i> <strong>Dirección</strong><br>
        Calle 45e # 20-114 Casa<br>
        Cra 14 #45F-18 Casa<br> Barranquilla / Colombia
      </p>
      <p><i class="fas fa-phone-alt"></i> <strong>Teléfonos</strong><br>605-3463168, 605-3173981</p>
      <p><i class="fas fa-comment-dots"></i> <strong>Quejas y Reclamos</strong><br>
        hostipalinc.github&#64;gmail.com</p>
    </div>

    <div class="footer-links">
        <ul>
           <div><i class="fab fa-whatsapp" style="color: #4a90e2;"></i> WhatsApp: <br>302 2843231, 300 8725181, 320 5158257</div><br>
            <div><i class="fas fa-envelope" style="color:#4a90e2;"></i> Correo Electronico: <br>hostipalinc.github&#64;gmail.com</div>
            
                
         

          <div class="py-4">
                    <p>
                        <strong>HOSTIPAL®</strong> <br> Todos los derechos reservados
                        2025
                    </p>
                </div>
        </ul>
        <ul>
            <!-- <li><a href="#">Oficina Virtual</a></li> -->
            <li><a href="acerca_de">Acerca de nosotros</a></li>
            <li><a href="/ubicaciones">Sedes</a></li>
             <li><a href="/marcoLegal">Privacidad de datos-Marco legal</a></li>
          <li><a href="/terminos">Términos y condiciones</a></li>
        </ul>
    </div>
  </div>
        <div class="img" style="margin-left: 250px;">  
        <img src="/assess/image_otro_logo.png" alt="" style="height: 100px; width: 300px;">
        </div>

  <div class="footer-bottom">
    <div class="social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-whatsapp"></i></a>
    </div>
    <p>2025 © Hostipal. Todos los derechos reservados</p>
  </div>
</footer>
