<div class="bg-light min-vh-100 d-flex flex-column">

    <div class="text-center text-white py-2" style="background-color: cornflowerblue;">
        Innovando siempre para prestar el mejor servicio, su salud es nuestro compromiso.
    </div>




    <div class="container text-center my-auto py-5">



        <p class="">Validando inicio de sesión, por favor esperar</p><br>
        <p>Esto puede tardar unos minutos...</p><br>
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>

    </div>



    <footer class="text-center text-white py-3 " style="background-color: cornflowerblue;">
        &copy; 2025 Hospital. Todos los derechos reservados.
    </footer>


</div>