<app-navbar-paciente></app-navbar-paciente>
<div class="fondo">
    <div class="container">
        <header>
            <h1>Conecta con nuestros Bots</h1>
            <p>Escanea el código QR para iniciar la conversación</p>
        </header>

        <section class="qr-cards">
            <div class="card">
                <img src="/assess/QRTelegram.png"  alt="QR Telegram">
                <h2>Bot de Telegram</h2>
                <a href="https://t.me/Tonyo_2025_bot"  class="btn">Abrir en Telegram</a>
            </div>

            <div class="card">
                <img src="/assess/QRWhatsApp.png" alt="QR WhatsApp">
                <h2>WhatsApp</h2>
                <a href="https://api.whatsapp.com/send/?phone=%2B14155238886&text=join+passage-cake&type=phone_number&app_absent=0"  class="btn">Abrir en WhatsApp</a>
            </div>
        </section>
    </div>
</div>