<app-navbar-administrador></app-navbar-administrador>

<div class="container-fluid vh-100">
    <div class="row h-100">
        <!-- Sección de la imagen -->
        <div class="col-md-6 d-none d-md-block p-0">
            <!--d-md-block significa que a partir del tamaño md (≥768px), el div se vuelve visible y se muestra como un bloque (display: block;).
            Junto con d-none, esto hace que el div esté oculto en móviles pero visible en pantallas medianas y grandes.-->
            <!-- <img src="/assess/doctoregister.png" alt="Hospital" class="img-fluid w-100 h-100" style="object-fit: cover;"> -->
            <img src="/assess/doctoregister.png" alt="Hospital" class="img-fluid "
                style=" position: absolute; width: 752px; height: 792px; object-fit: cover;">


        </div>

        <!-- Sección del formulario -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="w-75">
                <h2 class="text-center fw-bold mb-4">Registro de medico</h2>

                <form [formGroup]="RegisterAdminForm" class="container" (ngSubmit)="registrar()">
                    <div class="">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-person"></i></span>
                            <input type="text" class="form-control" required autocomplete="off" placeholder="Nombre"
                                formControlName="v_nombre">
                        </div>
                        <div
                            *ngIf="RegisterAdminForm.controls['v_nombre'].invalid && RegisterAdminForm.controls['v_nombre'].touched;">
                            <small class="error" style="position: absolute;">&#10060;Ingrese un nombre valido</small>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-person"></i></span>
                            <input type="text" class="form-control" required autocomplete="off" placeholder="Apellido"
                                formControlName="v_apellido">
                        </div>
                        <div
                            *ngIf="RegisterAdminForm.controls['v_apellido'].invalid && RegisterAdminForm.controls['v_apellido'].touched;">
                            <small class="error" style="position: absolute;">&#10060;Ingrese un apellido valido</small>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-card-list"></i></span>
                            <input type="text" class="form-control" required autocomplete="off" placeholder="Documento"
                                formControlName="v_documento">
                        </div>
                        <div
                            *ngIf="RegisterAdminForm.controls['v_documento'].invalid && RegisterAdminForm.controls['v_documento'].touched;">
                            <small class="error" style="position: absolute;">&#10060;Ingrese un documento valido</small>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                            <input type="text" class="form-control" required autocomplete="off" placeholder="Teléfono"
                                formControlName="v_telefono">
                        </div>
                        <div
                            *ngIf="RegisterAdminForm.controls['v_telefono'].invalid && RegisterAdminForm.controls['v_telefono'].touched;">
                            <small class="error" style="position: absolute;">&#10060;Ingrese un telefono valido</small>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="input-group">
                            <span class="input-group-text"> <i class="bi bi-gender-neuter"> </i></span>
                            <select class="form-select" required formControlName="v_genero">
                                <option value="">Seleccione Género</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                        <div
                            *ngIf="RegisterAdminForm.controls['v_genero'].invalid && RegisterAdminForm.controls['v_genero'].touched;">
                            <small class="error" style="position: absolute;">&#10060;Seleccione un genero</small>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                            <input type="number" class="form-control" required autocomplete="off" placeholder="Edad"
                                formControlName="v_edad">
                        </div>
                        <div
                            *ngIf="RegisterAdminForm.controls['v_edad'].invalid && RegisterAdminForm.controls['v_edad'].touched;">
                            <small class="error" style="position: absolute;">&#10060;Ingrese un edad valido</small>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-hospital"></i> </span>
                            <select class="form-select form-control " id="especialista" required
                                formControlName="v_especialidad">

                                <option *ngFor="let esp of todos_especialidades">{{ esp.nombre }}</option>
                            </select>
                        </div>
                        <div
                            *ngIf="RegisterAdminForm.controls['v_especialidad'].invalid && RegisterAdminForm.controls['v_especialidad'].touched;">
                            <small class="error" style="position: absolute;">&#10060;Seleccione una especialidad valida</small>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
                            <input type="text" class="form-control" required autocomplete="off" placeholder="Usuario"
                                formControlName="v_usuario">
                        </div>
                        <div
                            *ngIf="RegisterAdminForm.controls['v_usuario'].invalid && RegisterAdminForm.controls['v_usuario'].touched;">
                            <small class="error" style="position: absolute;">&#10060;Ingrese un correo valido</small>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-lock"></i></span>
                            <input type="password" class="form-control" required autocomplete="off"
                                placeholder="Contraseña" formControlName="v_password">
                        </div>
                        <div style="margin-bottom: 122px;"
                            *ngIf="RegisterAdminForm.controls['v_password'].invalid && RegisterAdminForm.controls['v_password'].touched;">
                            <small class="error" style="position: absolute;">&#10060;Ingrese una contraseña valida,
                                Recuerde que debe contener al menos:
                                <li>1 Mayuscula</li>
                                <li>1 miniscula</li>
                                <li>1 caracter especial</li>
                                <li>numeros(&#64;$!%*?&.)</li>
                            </small>
                        </div>
                    </div>


                    <div class="mt-4">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-lock"></i></span>
                            <input type="password" class="form-control" required autocomplete="off"
                                placeholder="Repetir la contraseña" formControlName="v_same_password">
                        </div>
                        <div
                            *ngIf="RegisterAdminForm.controls['v_same_password'].invalid && RegisterAdminForm.controls['v_same_password'].touched;">
                            <small class="error" style="position: absolute;">&#10060;Por favor, repita la contraseña</small>
                        </div>
                    </div>


                    <div *ngIf="passwordInsegura">
                        <p class="text-danger">⚠️ El nivel de seguridad de la contraseña es debil, no olvides incluir
                            mayuscula y caracter especiales</p>
                    </div>


                    <div *ngIf="v_same_password">
                        <p class="text-danger">⚠️Las contraseñas no son las mismas </p>
                    </div>




                    <button type="submit" [disabled]="RegisterAdminForm.invalid"
                        class="btn btn-primary w-100 mt-4">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div>