<app-header></app-header>
<br>
<nav class="navbar">
  <div class="logo">
    <a rputerLink="/"><img src="assess/image_otro_logo.png" alt="no found"></a>
  </div>

  <nav class="menu">
    <ul>
      <li><a routerLink="/" class="active">Inicio</a></li>
      <li><a routerLink="/acerca_de">Acerca de</a></li>
      <li><a routerLink="/registrar">Registrar</a></li>
      <li><a routerLink="/Login">Iniciar Sesión </a></li>
    </ul> 
  </nav>

  <div class="redes">
    <a href="#" id="red"><i class="fab fa-facebook-f facebook" style="color:rgb(85, 159, 255);"></i></a>
 <a href="#" id="red"><i class="fab fa-instagram imstagram" style="color:rgb(255, 105, 85);"></i></a>
    <a href="#" id="red"><i class="fab fa-whatsapp whatsapp" style="color:rgb(13, 169, 75);"></i></a>
  </div>
</nav>
