<app-navbar-administrador></app-navbar-administrador>

<div class="container">
    <p class="fs-3 mt-4 text-center"><b>Agendar cita</b></p>
    <hr>
    <p class="text-center">Aquí puedes agendar las citas de los pacientes. Después de seleccionar los datos, haz clic en
        "Agendar" para completar el registro</p>

    <form [formGroup]="asigncita">
        <div class="row pt-2">
            <!--Primera columna-->
            <div class="col-lg-3 col-md-4 col-sm-4 col-4 col-xl-4">
                <div class="">
                    <label for=""><b>Seleccione una fecha</b></label>
                    <input type="date" id="c_m_d" [(ngModel)]="fechaSeleccionada " formControlName="v_fecha"
                        (change)="mostrar_fecha()" [min]="fecha"
                        class="form-control"><!--ngModel para reemplazar al bind value que teniamos con svelte-->

                    <div *ngIf="asigncita.controls['v_fecha'].invalid && asigncita.controls['v_fecha'].touched  ; ">
                        <small>⚠️Seleccione una fecha</small>
                    </div>


                </div>
                <!--Eliga un doctor-->
                <div class="mt-5">
                    <label for=""><b>Elija un Doctor</b></label>
                </div>
                <select class="form-select" id="medico" required [(ngModel)]="doctorSeleccionado"
                    (change)="cambiarNombreDoctor()"
                    formControlName="v_doctor"><!--ngModel para reemplazar al bind value que teniamos con svelte-->
                    <option value="" selected>Seleccione</option>
                    <option *ngFor="let todo of doctor" [value]="todo.id">{{ todo.nombre }} {{todo.apellido}}</option>
                </select>
                <div *ngIf="asigncita.controls['v_doctor'].invalid && asigncita.controls['v_doctor'].touched ">
                    <small>⚠️Seleccione un doctor</small>
                </div>



                <!--Eliga un paciente-->
                <div class="mt-5">
                    <label for=""><b>Elija un Paciente</b></label>
                </div>
                <select class="form-select" id="paciente" required [(ngModel)]="pacienteSeleccionado"
                    (change)="cambiarNombrePaciente()" formControlName="v_paciente">
                    <option value="" selected>Seleccione</option>
                    <option *ngFor="let todo of todos" [value]="todo.id">{{ todo.nombre }} {{todo.apellido}}</option>
                </select>
                <div *ngIf="asigncita.controls['v_paciente'].invalid && asigncita.controls['v_paciente'].touched  ; ">
                    <small>⚠️Seleccione un paciente</small>
                </div>

                <!--Eliga la ubicacion-->
                <div class="mt-5">
                    <label for=""><b>Elija una ubicacion</b></label>
                </div>
                <select id="ubicacion" class="form-select" [(ngModel)]="ubicacionSeleccionada" required
                    formControlName="v_ubicacion">
                    <option value="" selected>Seleccione</option>
                    <option *ngFor="let todo of ubicacion" [value]="todo.nombre_hospital">{{ todo.nombre_hospital }}
                    </option>
                </select>
                <div *ngIf="asigncita.controls['v_ubicacion'].invalid && asigncita.controls['v_ubicacion'].touched  ; ">
                    <small>⚠️Seleccione una ubicacion</small>
                </div>

            </div>

            <!--Segunda columna-->
            <div class="col-lg-5 col-md-4 col-sm-4 col-4 col-xl-4">
                <label for=""><b>Seleccione una hora</b></label>
                <div *ngIf="todosHoras && todosHoras.length && hours">
                    <div class="row">
                        <ng-container *ngFor="let hour of hours; let i=index">
                            <ng-container *ngIf="hour> v_horas">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-6 col-xl-6">
                                    <div class="input-group">
                                        <i class="input-group-text bi bi-clock time-icon bg-primary"
                                            style="color: aliceblue;  "></i>
                                        <input type="time" [value]="hour" (click)="horaSeleccionada = hour"
                                            class="form-control" readonly [disabled]="validando.includes(hour)"  >
                                    </div>
                                </div>


                                <div *ngIf="(i + 1) % 2 === 0" class="mt-3"></div>
                            </ng-container>

                        </ng-container>
                    </div>
                </div>
            </div>





            <!--Tercera columna-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-4 col-xl-4">


                <div class="text-center fs-4">
                    <p><b>Detalles de la cita:</b></p>
                </div>
                <p><span><b>Fecha seleccionada:</b></span><span class="mx-3" id="mostrar_fecha">{{ fechaSeleccionada |
                        date:'fullDate' }}</span></p>

                <p><b>Hora seleccionada:</b><span class="mx-3" id="mostrar_hora">
                        La cita será a las {{ horaSeleccionada ? (horaSeleccionada | slice:0:2) + ' horas con ' +
                        (horaSeleccionada | slice:3) + ' minutos' : '00:00' }}
                    </span>
                </p>

                <p><b>Doctor seleccionado:</b><span class="mx-3" id="mostrar_doctor"> {{ NombreDoctor | uppercase
                        }}</span></p>
                <p><b>Paciente seleccionado:</b><span class="mx-3" id="mostrar_paciente"> {{ NombrePaciente |
                        titlecase }}</span></p>
                <p><b>Ubicación:</b> <span class="mx-3">{{ ubicacionSeleccionada | uppercase }}</span></p>


                <div class="d-flex" style="justify-content: center; align-items: center;">
                    <button class="btn btn-primary" [disabled]="asigncita.invalid" (click)="ConfirmarAgendar()">
                        Agendar
                    </button>
                </div>

            </div>
            <div class="mt-5 fs-5">
                <p class="text-center text-muted">Asegúrate de revisar cuidadosamente la información antes de confirmar
                    la
                    cita. Verifica que los datos del paciente, la fecha y la hora sean correctos para evitar
                    inconvenientes.
                </p>
            </div>

        </div>
    </form>


</div>