<app-navbar-doctor></app-navbar-doctor>

<div class="container mt-3" id="Mostrarhistorial">
    <div class="row" [hidden]="!mostrarhistorial">
        <label for=""><b>Ingrese el número de documento</b></label>
        <div class="col-xl-6 ">
            <div class="input-group">
                <button class="input-group-text" (click)="buscar()" aria-label="Buscar"><i class="bi bi-search"
                        style="color: steelblue"></i></button>
                <input type="text" class="form-control Input_buscar" [(ngModel)]="buscardocumento_v"
                    id="buscardocument_v" style="">
            </div>
        </div>


    </div>



    <div class="card border-dark shadow mt-5" [hidden]="!mostrarhistorial">
        <div class="card-header" style="background-color: cornflowerblue; color: white;">
            <!--Header-->
            <div class="fs-2 text-center">
                Historial clinico de <span class="" id="nombre">{{nombre}}</span>
            </div>
        </div>
        <!--Fin del Header-->

        <div class="card-body">
            <!--Body-->

            <div>
                <label for=""><b>Documento:</b> <span id="documento"> {{documento}}</span></label>
                <br />
                <label for=""><b>Telefono:</b> <span id="telefono"> {{telefono}}</span></label>
            </div>

            <div class="pt-4">
                <h3 style="color: steelblue;">Antecedentes medicos:</h3>


            </div>


            @if (loading){


            <!---->
            <div class="row g-2 justify-content-center">
                <p class="text-center col-lg-2 col-md-2 col-sm-2 col-12 col-xl-2">
                    <b>Digita la cedula y dar clic en el boton de buscar para cargar el antecedentes...</b>
                </p>


                <!---------------------------------------------------------------------------------->

                <div class="text-center">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="spinner-grow text-secondary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="spinner-grow text-success" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="spinner-grow text-danger" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="spinner-grow text-warning" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="spinner-grow text-info" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="spinner-grow text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="spinner-grow text-dark" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <!---------------------------------------------------------------------------------->

                <img src="/assess/Cargando.svg" alt="" class="img-fluid" style="width: 380px;">

            </div>

            }@else if (error){

            <p class="text-red-500">Error: {{error}}</p>
            }@else{


            <div class="overflow-x-auto">
                <table class="min-w-full bg-white border border-gray-300" id="myTable">
                    <thead>
                        <tr>
                            <th class="px-4 py-2 border">Fecha del diagnostico</th>
                            <th class="px-4 py-2 border">Sintomas</th>
                            <th class="px-4 py-2 border">Descripcion del sintomas</th>

                            <th class="px-4 py-2 border">Diagnostico</th>
                            <th class="px-4 py-2 border">Descripcion del diagnostico</th>
                            <th class="px-4 py-2 border">Observacion/tratamiento</th>
                            <th class="px-4 py-2 border">Opciones</th>

                        </tr>
                    </thead>

                    <tbody>


                        <tr class="hover:bg-gray-50" *ngFor="let todo of todos2">
                            <td class="px-4 py-2 border" data-label="Fecha del diagnóstico">{{todo.fecha_diagnostico}}
                            </td>
                            <td class="px-4 py-2 border" data-label="Síntomas">{{todo.sintomas}}</td>
                            <td class="px-4 py-2 border" data-label="Descripción síntomas">{{todo.descripcion_sintomas}}
                            </td>
                            <td class="px-4 py-2 border" data-label="Diagnóstico">{{todo.diagnostico}}</td>
                            <td class="px-4 py-2 border" data-label="Descripción diagnóstico">{{todo.descripcion}}</td>
                            <td class="px-4 py-2 border" data-label="Observación/tratamiento">
                                {{todo.Observaciontratamiento}}</td>
                            <td class="px-4 py-2 border" data-label="Opciones">
                                <button class="btn btn-outline-primary" (click)="editarHistorial(todo.id)">
                                    <i class="bi bi-pencil-square">Editar</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            }
        </div>
        <!--Fin del body-->

        @if (comprobar){


        <div class="card-footer">
            <!--Aca comienza en footer-->
            <div class="text-center">
                <button class="btn btn-outline-info" (click)="editar()">Añadir historial medico</button>
                <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#incapacidad_modal">Añadir
                    incapacidad medica</button>
            </div>
        </div>
        }
        <!--Aca termina el footer-->
    </div>
</div>
<div class="" [hidden]="mostrarhistorial" id="nav-listado">
    <div class="container py-5">
        <div class="card shadow-sm">
            <div class="card-header text-center fw-bold fs-5" style="background-color: cornflowerblue; color: white;">
                Historial clínico de <span id="nombre_v">{{nombre}}</span>
            </div>

            <div class="card-body">
                <form [formGroup]="RegisterForm" (ngSubmit)="guardar()">

                    <div class="mb-3">
                        <label class="form-label fw-bold">Síntomas:</label>
                        <div class="input-group">
                            <span class="input-group-text text-danger"><i class="bi bi-heart-pulse"></i></span>
                            <input type="text" class="form-control" id="sintomas" placeholder="Síntomas del paciente"
                                [(ngModel)]="sintomas" formControlName="v_sintomas" />
                        </div>
                        <div
                            *ngIf="RegisterForm.controls['v_sintomas'].invalid && RegisterForm.controls['v_sintomas'].touched;">
                            <small class="error" style="position: absolute;">&#10060;Ingrese el síntoma del
                                paciente</small>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label class="form-label fw-bold">Descripción de los síntomas:</label>
                        <div class="input-group">
                            <span class="input-group-text text-warning"><i class="bi bi-file-earmark-text"></i></span>
                            <input type="text" class="form-control" id="descripcion_sintomas"
                                placeholder="Descripción detallada" [(ngModel)]="descripcion_sintomas"
                                formControlName="v_desc_sintomas" />
                        </div>
                        <div
                            *ngIf="RegisterForm.controls['v_desc_sintomas'].invalid && RegisterForm.controls['v_desc_sintomas'].touched;">
                            <small class="error" style="position: absolute;">&#10060;Ingrese una descripción al síntoma
                                del paciente</small>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label class="form-label fw-bold">Diagnóstico:</label>
                        <div class="input-group">
                            <span class="input-group-text text-primary"><i class="bi bi-clipboard2-pulse"></i></span>
                            <input type="text" class="form-control" id="diagnostico"
                                placeholder="Diagnóstico del usuario" [(ngModel)]="diagnostico"
                                formControlName="v_diagnostico" />
                        </div>
                        <div
                            *ngIf="RegisterForm.controls['v_diagnostico'].invalid && RegisterForm.controls['v_diagnostico'].touched;">
                            <small class="error" style="position: absolute;">&#10060;Ingrese el diagnóstico del
                                paciente</small>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label class="form-label fw-bold">Descripción del diagnóstico:</label>
                        <div class="input-group">
                            <span class="input-group-text text-info"><i class="bi bi-journal-text"></i></span>
                            <input type="text" class="form-control" id="descripcion_diagnostico"
                                placeholder="Explicación del diagnóstico" formControlName="v_desc_diagnostico" />
                        </div>
                        <div
                            *ngIf="RegisterForm.controls['v_desc_diagnostico'].invalid && RegisterForm.controls['v_desc_diagnostico'].touched;">
                            <small class="error" style="position: absolute;">&#10060;Ingrese una descripción al
                                diagnóstico del paciente</small>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label class="form-label fw-bold">Observación o tratamiento:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-capsule-pill"
                                    style="color: cadetblue;"></i></span>
                            <input type="text" class="form-control" id="Observaciontratamiento"
                                placeholder="Recomendaciones médicas" [(ngModel)]="Observaciontratamiento"
                                formControlName="v_observacion" />
                        </div>
                        <div
                            *ngIf="RegisterForm.controls['v_observacion'].invalid && RegisterForm.controls['v_observacion'].touched;">
                            <small class="error" style="position: absolute;">&#10060;Ingrese la observación o
                                tratamiento del paciente</small>
                        </div>
                    </div>

                    <div *ngIf="mostrarhistorialCitas">
                        <div class="mb-4">
                            <label class="form-label fw-bold">Seleccione la cita:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-calendar-check"
                                        style="color: #6f42c1;"></i></span>
                                <select id="citas" class="form-select" [(ngModel)]="citaSeleccionada"
                                    formControlName="v_cita">
                                    <option value="">Selecciona una cita</option>
                                    <option *ngFor="let cita of citas" [value]="cita.id">
                                        Fecha: {{ cita.fecha }} - Hora: {{ cita.hora }} - Doctor: {{ cita.medico }} -
                                        Paciente:
                                        {{ cita.paciente }}
                                    </option>
                                </select>
                            </div>
                            <div
                                *ngIf="RegisterForm.controls['v_cita'].invalid && RegisterForm.controls['v_cita'].touched;">
                                <small class="error" style="position: absolute;">&#10060;Seleccione la cita de acuerdo
                                    con
                                    la fecha, la hora y el paciente atendido</small>
                            </div>
                        </div>
                    </div>


                    <div class="text-center my-4">

                        <button type="button" (click)="Camara()" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#Camara">
                            <i class="bi bi-camera-fill me-1"></i> Calcular estatura
                        </button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="Camara" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="CamaraLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="CamaraLabel">Calculando estatura...</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Cerrar"></button>
                                </div>
                                <div class="modal-body">
                                    <img [src]="videoSrc" id="video" class="img-fluid w-100 object-fit-cover"
                                        style="height: 400px;" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" (click)="capturar()">Aceptar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Guardar -->
                    <div *ngIf="mostrarhistorialCitas; else noGuardar">
                        <div class="text-center mt-5">
                            <p class="text-muted">¡Al terminar, dale click en guardar para aplicar los cambios!</p>
                            <button class="btn btn-success px-4" type="submit" [disabled]="RegisterForm.invalid">
                                <i class="bi bi-save me-1"></i> Guardar
                            </button>
                        </div>
                    </div>
                    <ng-template #noGuardar>
                        <div class="text-center mt-5">
                            <p class="text-muted">¡Al terminar, dale click en guardar para aplicar los cambios!</p>
                            <button  class="btn btn-success px-4" type="button" [disabled]="RegisterForm.invalid"
                            (click)="guardarModificacion()">
                                <i class="bi bi-save me-1"></i> Guardar
                            </button>
                        </div>
                    </ng-template>

                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="incapacidad_modal" tabindex="-1" aria-labelledby="rModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mleModalLabel">
                    <b>Incapacidad medica</b>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Ingrese los datos de la incapacidad medica:</p>

                <div class="row">
                    <div class="col-xl-12 text-center">
                        <label for="">Duracion de la incapacidad:
                            <input type="text" class="form-control" id="v_dia_incapacidad"
                                [(ngModel)]="v_dia_incapacidad">
                        </label>

                    </div>
                    <div class="col-xl-12 text-center">
                        <label for="">Descripcion:
                        </label>
                        <textarea type="text" class="form-control" id="v_descripcion"
                            [(ngModel)]="v_descripcion"></textarea>
                    </div>

                </div>
                <div class=" text-center"><!--Y como se pondria-->
                    <label for="">Observaciones
                    </label>
                    <textarea type="text" class="form-control" id="v_observaciones"
                        [(ngModel)]="v_observaciones"></textarea>
                </div>

            </div>

            <div class="modal-footer justify-content-center">
                <button class="btn btn-outline-info" (click)="incapacidad()">Añadir incapacidad medica</button>
            </div>

        </div>
    </div>
</div>