.slide {
  position: relative;
  z-index: 0;
  background-image: url(../../../../public/assess/fondo2.png);
  background-size: 50vh;
  background-attachment: fixed;
  margin-top: -110px; 
}

.carousel-control-prev,
.carousel-control-next {
  width: 40%;
  filter: invert(91%) sepia(78%) saturate(746%) hue-rotate(359deg) brightness(104%) contrast(105%);
}

.slide-img {
  width: 70%;
  height: 550px;
  object-fit: cover;
  display: block;
  margin: 0 auto; 
  border-radius: 20px;
}

.navbar {
  position: relative;
  z-index: 10;
}


