<app-navbarindex></app-navbarindex>

<div class="bg-light min-vh-100 d-flex flex-column">

  

  <!-- Contenedor de términos -->
  <div class="container my-auto py-5">
    <div class="card shadow-lg border-0 rounded-4">
      <div class="card-header text-center text-white" style="background-color: cornflowerblue;">
        <h4 class="mb-0"><b>Términos y Condiciones</b></h4>
      </div>
      <div class="card-body p-4" style="max-height: 60vh;  overflow-y: auto;">
        <p>
          <b>1. Aceptación de los Términos: </b><br>
          Al acceder y utilizar el sistema Hospital, aceptas cumplir con estos
          términos y condiciones. Si no estás de acuerdo con alguno de los términos,
          te recomendamos no continuar con el uso de la plataforma.
        </p>
        <p>
          <b>2. Uso del Contenido: </b><br>
          Todo el contenido proporcionado en nuestra página y base de datos,
          incluyendo pero no limitado a texto, imágenes, videos, gráficos y logotipos,
          está protegido por derechos de autor y otros derechos de propiedad intelectual.
          No puedes copiar, reproducir, distribuir o modificar dicho contenido sin nuestro permiso expreso.
        </p>
        <p>
          <b>3. Privacidad: </b><br>
          Nuestra política de privacidad describe cómo recopilamos, usamos y protegemos tu información personal:
          <br> - Los datos registrados no son vendidos ni utilizados para fines comerciales más allá de estar en esta página.
          <br> - No tratamos con datos sensibles, por lo que no registramos tarjetas de crédito ni números de cuentas.
          <br> - Su privacidad es nuestra prioridad, por lo que garantizamos la protección de los datos personales conforme a la normativa vigente.
        </p>
        <p>
          <b>4. Responsabilidad: </b><br>
          Nos esforzamos por mantener la plataforma funcionando correctamente y de forma segura.
          Sin embargo, no podemos garantizar que siempre esté libre de errores o interrupciones.
          El uso de la plataforma es responsabilidad del usuario.
        </p>
        <p>
          <b>5. Enlaces a Terceros: </b><br>
          Nuestro sitio puede contener enlaces a sitios de terceros. No tenemos control sobre
          su contenido o prácticas de privacidad y no asumimos responsabilidad por ellos.
        </p>
        <p>
          <b>6. Modificaciones de los Términos: </b><br>
          Nos reservamos el derecho de modificar estos términos en cualquier momento.
          Los cambios entrarán en vigencia al ser publicados en este mismo medio.
        </p>
        <p>
          <b>7. Ley Aplicable: </b><br>
          Estos términos se rigen por las leyes de Colombia y cualquier disputa estará
          sujeta a la jurisdicción exclusiva de los tribunales de Colombia.
        </p>
      </div>
    </div>
  </div>

 <app-footer></app-footer>

</div>
