<div class="bg-light min-vh-100 d-flex flex-column">

    <div class="text-center text-white py-2" style="background-color: cornflowerblue;">
        Innovando siempre para prestar el mejor servicio, su salud es nuestro compromiso.
    </div>

    <div class="container text-center my-auto py-5">

        <h2 class="mb-3">📲 Descarga nuestra App</h2>
        <p class="mb-4">Lleva tu salud en tus manos. Descarga nuestro aplicativo móvil y agenda tus citas fácilmente.</p>

        <a href="/app-debug.apk" class="btn btn-primary btn-lg px-4 py-2" download>
            Descargar APK
        </a>

    </div>

    <footer class="text-center text-white py-3 " style="background-color: cornflowerblue;">
        &copy; 2025 Hospital. Todos los derechos reservados.
    </footer>

</div>
