<app-navbar-administrador></app-navbar-administrador>

<div id="Mostrarusuario" [hidden]="!mostrarTabla" class="container py-4">
  <h2 class="mb-4 text-center"><b>Gestion de doctores</b></h2>
  <hr>

  <div *ngIf="loading; else showContent">
    <div class="row g-2 justify-content-center">
      <p class="text-center col-12">Cargando datos...</p>
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>

  <ng-template #showContent>
    <div *ngIf="error; else userTable">
      <p class="text-danger text-center">Error: {{ error }}</p>
    </div>
  </ng-template>

  <ng-template #userTable>
    <div class="overflow-x-auto">
      <table class="table table-bordered border  text-center" id="myTable"><!--table-striped -->
        <thead >
          <tr class="bg-primary text-white">
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Telefono</th>
            <th>Especialidad</th>
            <th>Estado</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of todos">
            <td class="py-2 border">{{ user.usuario }}</td>
            <td class="py-2 border">{{ user.nombre }}</td>
            <td class="py-2 border">{{ user.apellido }}</td>
            <td class="py-2 border"> {{ user.documento }}</td>
            <td class="py-2 border">{{ user.telefono }}</td>

            <td class="py-2 border">
              <span *ngFor="let especialidad of todoseespecialidades">
                @if(especialidad.id_usuario===user.id){
                {{ especialidad.valor }}
                }
              </span>

            </td>


            <td class="py-2 border"> 
              <span [ngClass]="user.estado ? 'text-success' : 'text-danger'">
                {{ user.estado ? 'Activo' : 'Desactivado' }}
              </span>
            </td>
            <td class="py-2 border">
              <button aria-label="editar" class="btn btn-info" (click)="editar(user.id!)">
                <i class="bi bi-pencil-square"></i>
              </button>

              <button *ngIf="user.estado" aria-label="desactivar" class="btn btn-success"
                (click)="activar_desactivar(user.id!, false)">
                <i class="bi bi-toggle-on"></i>
              </button>

              <button *ngIf="!user.estado" aria-label="activar" class="btn btn-danger"
                (click)="activar_desactivar(user.id!, true)">
                <i class="bi bi-toggle-off"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</div>

<div class="container mt-5">
  <div [hidden]="mostrarTabla" class="card border-dark shadow mt-4">
    <div class="card-header d-flex justify-content-between">
      <h5 class="card-title"><b>Editando doctores</b></h5>
      <button class="btn-close" aria-label="Cerrar" (click)="mostrarTabla=true"></button>
    </div>
    <div class="card-body">
      <form [formGroup]="ActualizarDocForm" (ngSubmit)="actualizar()">
        <div class="row">
          <div class="col-lg-6">
            <img src="/assess/EditarPaciente.png" alt="" class=" w-100 h-100 img-fluid">
          </div>
          <div class="col-lg-6 px-3">
            <div class="input-group">
              <span class="input-group-text " style="width:125px;">
                <i class="bi bi-person me-2 text-primary"></i> Nombres
              </span>
              <input type="text" class="form-control" id="nombres" maxlength="100" formControlName="v_nombre" />
            </div>
            <div
              *ngIf="ActualizarDocForm.controls['v_nombre'].invalid && ActualizarDocForm.controls['v_nombre'].touched;">
              <small class="error" style="position: absolute;">&#10060;Ingrese un nombre valido</small>
            </div>

            <div class="input-group mt-4">
              <span class="input-group-text  " style="width:125px;">
                <i class="bi bi-person me-2 text-primary"></i> Apellidos
              </span>
              <input type="text" class="form-control" id="apellidos" formControlName="v_apellido" />
            </div>
            <div
              *ngIf="ActualizarDocForm.controls['v_apellido'].invalid && ActualizarDocForm.controls['v_apellido'].touched;">
              <small class="error" style="position: absolute;">&#10060;Ingrese un apellido valido</small>
            </div>

            <div class="input-group mt-4">
              <span class="input-group-text  " style="width:125px;">
                <i class="bi bi-card-list me-2 text-primary"></i> Documento
              </span>
              <input type="text" class="form-control" id="documento" formControlName="v_documento" />
            </div>
            <div
              *ngIf="ActualizarDocForm.controls['v_documento'].invalid && ActualizarDocForm.controls['v_documento'].touched;">
              <small class="error" style="position: absolute;">&#10060;Ingrese un documento valido</small>
            </div>

            <div class="input-group mt-4">
              <span class="input-group-text  " style="width:125px;">
                <i class="bi bi-telephone me-2 text-primary"></i> Telefono
              </span>
              <input type="text" class="form-control" id="telefono" maxlength="20" formControlName="v_telefono" />
            </div>
            <div
              *ngIf="ActualizarDocForm.controls['v_telefono'].invalid && ActualizarDocForm.controls['v_telefono'].touched;">
              <small class="error" style="position: absolute;">&#10060;Ingrese un numero de telefono valido</small>
            </div>

            <div class="input-group mt-4">
              <span class="input-group-text " style="width:125px;">
                <i class="bi bi-envelope me-2 text-primary"></i> Correo
              </span>
              <input type="text" class="form-control" id="correo" formControlName="v_usuario" />
            </div>
            <div
              *ngIf="ActualizarDocForm.controls['v_usuario'].invalid && ActualizarDocForm.controls['v_usuario'].touched;">
              <small class="error" style="position: absolute;">&#10060;Ingrese un correo valido</small>
            </div>

            <div class="input-group mt-4">
              <span class="input-group-text" style="width:125px;">
                <i class="bi bi-toggle-on me-2 text-primary"></i>Especialidad
              </span>
              <select id="especiality" name="especialidades" formControlName="v_id_especialidad" class="form-select">
                <option *ngFor="let esp of todos_especialidades" [value]="esp.nombre">{{ esp.nombre }}</option>
              </select>
            </div>
            <div
              *ngIf="ActualizarDocForm.controls['v_id_especialidad'].invalid && ActualizarDocForm.controls['v_id_especialidad'].touched;">
              <small class="error" style="position: absolute;">&#10060;Seleccione una especialidad</small>
            </div>

            <div class="input-group mt-4">
              <span class="input-group-text" style="width:125px;">
                <i class="bi bi-toggle-on me-2 text-primary"></i>Estado
              </span>
              <select id="estado" name="opciones" class="form-select" formControlName="v_estado">
                <option value="true">Activar</option>
                <option value="false">Desactivar</option>
              </select>
            </div>  
            <div
              *ngIf="ActualizarDocForm.controls['v_estado'].invalid && ActualizarDocForm.controls['v_estado'].touched;">
              <small class="error" style="position: absolute;">&#10060;Seleccione un estado</small>
            </div>
          </div>

          <div class="text-end mt-3">
            <button type="submit" [disabled]="ActualizarDocForm.invalid" class="btn btn-outline-info">Actualizar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>