<app-navbarindex></app-navbarindex>
<div class="fondo">
    <section id="marco-legal" class="container my-3" style=" text-align: justify">
        <h3 class="text-primary fw-bold">Marco Legal</h3>
        <p>
            <b>Ley 1581 de 2012 – Protección de Datos Personales</b><br>
            La Ley 1581 de 2012 establece las
            disposiciones generales para la protección de
            los datos personales en Colombia. Por motivo
            de que el aplicativo web usara información
            médica de los pacientes, esta ley es
            fundamental para garantizar la privacidad de
            los datos personales, el principio de seguridad
            y el uso adecuado de datos sensibles.
            El artículo 4 establece el principio para el
            tratamiento de datos personales, el cual indica
            que el tratamiento solo puede ejercerse con el
            consentimiento previo, obedeciendo la
            finalidad legitima de acuerdo con la
            constitución otorgando seguridad de los
            registros evitando su adulteración, pérdida,
            consulta, uso o acceso no autorizado o
            fraudulento.
            El aplicativo web cumple con la <b>Ley 1581 de 2012</b> al implementar medidas de seguridad para garantizar
            la
            protección de los datos personales de los usuarios.
            Dichas medidas incluyen el uso responsable de la información médica, el consentimiento previo de los
            pacientes
            para el tratamiento de sus datos,
            así como el cumplimiento del principio de finalidad legítima establecido en la Constitución.
            Además, se asegura la integridad de los registros, evitando su adulteración, pérdida, consulta, uso o acceso
            no
            autorizado o fraudulento.

        </p>
        Para dar cumplimiento a esta ley en la plataforma, se han implementado mecanismos como:
        <ul>
            <li>Autenticación mediante usuario y contraseña para el acceso a la información.</li>
            <li>Restricciones de roles y permisos que limitan el acceso a los datos sensibles únicamente a personal
                autorizado.</li>
            <li>Cifrado de contraseña.</li>
            <!-- <li>Respaldos periódicos que aseguran la disponibilidad y recuperación de la información en caso de fallos.</li> -->
            <li><a href="/terminos">Políticas de privacidad</a> visibles para que los usuarios conozcan cómo se utilizan
                sus
                datos.</li>
        </ul>
        <p>
            <b>Documento CONPES 3975 de 2019</b><br>
            Formula una política pública para fomentar la
            transformación digital e inteligencia artificial
            en Colombia.
            Esta política busca que se den las condiciones
            necesarias para el impulso de la IA, para
            generar soluciones innovadoras en sectores
            como la salud, reconociendo esta tecnología
            como un acelerador clave de la
            transformación digital, promoviendo a la
            inteligencia artificial como apoyo
            procedimientos médicos como las cirugías y el
            análisis de imágenes diagnósticas, entre
            otros.
            El aplicativo web se alinea con la política del
            <b>Documento CONPES 3975 de 2019</b>, al proponer una solución
            tecnológica que mejora la clasificación de
            triage mediante IA, contribuyendo a lo
            establecido en el CONPES que busca que
            Colombia pueda convertirse en un referente
            mundial en temas de inteligencia artificial,
            fomentando proyectos académicos de
            inteligencia artificial que se desarrollen en los
            centros de educación superior del país.
        </p>
        De esta forma, el aplicativo:
        <ul style="text-align: justify;">
            <li><b>Chatbox con IA:</b> facilita la atención al usuario, resolviendo dudas de manera automática y ágil,
                mejorando la experiencia de los pacientes y garantizando un acceso más inclusivo a la información
                médica.
            </li>

            <li><b>Módulos de análisis con Power BI:</b> permiten visualizar y procesar datos clínicos y de atención en
                tiempo real, apoyando la toma de decisiones informadas y fomentando el uso de la analítica en salud.
            </li>

            <li><b>Estimación de altura con OpenCV:</b> integra visión por computadora como ejemplo de aplicación
                innovadora
                de la IA en procesos biométricos dentro del ámbito médico.</li>

            <li><b>Detección de enfermedades basicas:</b>Aplica inteligencia artificial como apoyo para deteccion de
                enfermedades basicas</li>

        </ul>
    </section>

</div>
<app-footer></app-footer>