<app-navbar-paciente></app-navbar-paciente>

<div id="Mostrarusuario">
    <div class="container py-4">
        @if (loading){
            <p class="text-center">Cargando datos...</p>
        }@else if (error || todos.length === 0){
            <!-- <p class="text-r ed-500">Error: {{error}}</p> -->
            <div class="container img-fluid d-flex justify-content-center">
                <img src="/assess/NoHayCitasPaciente.png" alt="" width="100%" height="658px">
            </div>
            
            
            
            
        }@else{
            <h2 class="mb-4">Citas agendadas</h2>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-600" id="myTable">
                <thead class="bg-primary text-white">
                    <tr>
                        <th class="px-4 py-2 border">Doctor</th>
                        <th class="px-4 py-2 border">Fecha</th>
                        <th class="px-4 py-2 border">Hora</th>
                        <th class="px-4 py-2 border">Ubicación</th>
                        <th class="px-4 py-2 border">Salas</th>

                    </tr>
                </thead>

                <tbody>
                    
                        <tr class="hover:bg-gray-50"  *ngFor="let todo of todos">
                            <td class="px-4 py-2 border">{{todo.medico}}</td>
                            <td class="px-4 py-2 border">{{todo.fecha}}</td>
                            <td class="px-4 py-2 border">{{todo.hora}}</td>
                            <td class="px-4 py-2 border">{{todo.ubicacion}}</td>
                            <td class="px-4 py-2 border">{{todo.salas}}</td>
                        </tr>
                    
                </tbody>
            </table>
        </div>
        }
    </div>
</div>