<div class="bg-light min-vh-100 d-flex flex-column">
    <!-- Barra superior estilo -->
    <div class="text-center text-white py-2" style="background-color: cornflowerblue;">
        Innovando siempre para prestar el mejor servicio, su salud es nuestro compromiso.
    </div>

    
    <!-- Contenido principal -->
    <div class="container text-center my-auto py-5">
        <h1 class="display-1 text-danger">404</h1>
        <h2 class="fs-2 fw-bold text-secondary">Página no encontrada</h2>
        <p class="fs-5 mt-3">Lo sentimos, la página que buscas no existe o ha sido movida.</p>
       
    </div>

    <!-- Footer simple -->
    <footer class="text-center text-white py-3 mt-auto" style="background-color: cornflowerblue;">
        &copy; 2025 Hospital. Todos los derechos reservados.
    </footer>
</div>
