<app-navbar-doctor></app-navbar-doctor>
<div id="Mostrarusuario">
    @if (loading){
    <p class="text-center">Cargando datos...</p>
    }@else if (error){
    <!-- <p class="text-red-500">Error: {{error}}</p> -->

    <div class="container img-fluid d-flex justify-content-center">
        <img src="/assess/NoHayCitasDoctor.png" alt="" width="100%" height="658px">
    </div>


    }@else{
    <div class="container py-4">
        <h2 class="mb-4">Citas agendadas</h2>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-300" id="myTable">
                <thead class="bg-primary text-white">
                    <tr>
                        <th class="px-4 py-2 border">Paciente</th>
                        <th class="px-4 py-2 border">Doctor</th>
                        <th class="px-4 py-2 border">Fecha</th>
                        <th class="px-4 py-2 border">Hora</th>
                        <th class="px-4 py-2 border">Opciones</th>
                    </tr>
                </thead>

                <tbody>

                    <tr class="hover:bg-gray-50" *ngFor="let todo of todos">
                        <td class="px-4 py-2 border">{{todo.paciente}}</td>
                        <td class="px-4 py-2 border">{{todo.medico}}</td>
                        <td class="px-4 py-2 border">{{todo.fecha}}</td>
                        <td class="px-4 py-2 border">{{todo.hora}}</td>

                        <td class="px-4 py-2 border">
                            <button class="btn btn-outline-warning" (click)="ConfirmarCita(todo.id_cita)"> <i
                                    class="bi bi-check-circle-fill"></i> Cita
                                Realizada</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    }
</div>