/* Tablet */
@media (max-width: 992px) {
  .top-banner {
    font-size: 15px;
    padding: 8px 15px;
  }
}

/* Celular */
@media (max-width: 600px) {
  .top-banner {
    font-size: 14px;
    padding: 6px 10px;
  }
}