/* You can add global styles to this file, and also import other style files */
/* *{
     background-image: url(/public/assess/fondo2.png);
        background-size: 50vh;
        background-attachment: fixed;
} */